#title {
	padding: 0;
	@extend %text-loud;

	.first {
		font-size: 64px;
		position: absolute;
		top: -0.5em;
		left: 1.5em;
		transform: translateZ(20px);
	}

	.second {
		font-size: 150px;
		transform: translateZ(50px);
	}

	.third {
		position: absolute;
		margin-top: -20px;
		font-size: 32px;
	}
}

#slideTwo {
	font-size: 50px;
	line-height: 72px;
	letter-spacing: -1px;
	@extend %text-quiet;
}

#slideThree {
	width: 600px;
	font-size: 60px;
	line-height: 1;
	@extend %text-loud;

	b {
		display: block;
		font-size: 250px;
		line-height: 250px;
	}
}

#brandChallengeOne, #brandChallengeTwo, #brandChallengeThree {
	@extend %text-loud;
}

#slideSeven, #slideEight, #slideNine {
	@extend %text-quiet;
}