#title {
	padding: 0;
	.first {
		font-size: 64px;
		position: absolute;
		top: -0.5em;
		left: 1.5em;
		transform: translateZ(20px);
	}
	.second {
		font-size: 150px;
		transform: translateZ(50px);
	}
	.third {
		position: absolute;
		margin-top: -20px;
		font-size: 32px;
	}
}

#slideTwo {
	color: rgb(102, 102, 102);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 50px;
	line-height: 72px;
	letter-spacing: -1px;
}

#slideThree {
	width: 600px;
	text-align: center;
	font-size: 60px;
	line-height: 1;
	b {
		display: block;
		font-size: 250px;
		line-height: 250px;
	}
}

#brandChallengeOne, #brandChallengeTwo, #brandChallengeThree {
	text-align: center;
}

#brandChallengeThree {
	p {
		transform-style: preserve-3d;
	}
	span, b {
		display: inline-block;
		transform: translateZ(40px);
		transition: 0.5s;
	}
	.footnote {
		font-size: 32px;
		transform: translateZ(-10px);
	}
	&.present {
		span, b {
			transform: translateZ(0px);
		}
	}
}